<!DOCTYPE html>
<html>
	<head>
		<title> Cerebro </title>
		<script type="text/javascript" src="/socket.io.js"></script>
		<script type="text/javascript" src="/jquery-3.2.0.js"></script>
		<script type="text/javascript" src="/app.js"></script>
	</head>
	<body>
		<header>
			<h1>Panel de Control de Cerebro </h1>
		</header>
		<nav class="main" role="navigation">
			<a href="/">Inicio</a>
			<a href="/room">Nueva habitación</a>
		</nav>
		<section class="main">
			<div id="bitRate">
				<% if (bitRate_ts < 1000) { %>
					Tasa de bits Tx-Servidor: <%= bitRate_ts %> bps
				<% } else if (bitRate_ts < 1000000) { %>
					<% bitRate_ts = Math.round(bitRate_ts / 10)/100; %>
					Tasa de bits Tx-Servidor: <%= bitRate_ts %> Kbps
				<% } else if (bitRate_ts < 1000000000) { %>
					<% bitRate_ts = Math.round(bitRate_ts / 10000)/100; %>
					Tasa de bits Tx-Servidor: <%= bitRate_ts %> Mbps
				<% } else if (bitRate_ts < 1000000000000) { %>
					<% bitRate_ts = Math.round(bitRate_ts / 10000000)/100; %>
					Tasa de bits Tx-Servidor: <%= bitRate_ts %> Gbps
				<% } else if (bitRate_ts >1000000000000){ %>
					<% bitRate_ts = Math.round(bitRate_ts / 10000000000)/100; %>
					Tasa de bits Tx-Servidor: <%= bitRate_ts %> Tbps
				<% } else { %>
					Tasa de bits Tx-Servidor: Undefined
				<% } %>
				<p>
				<% if (bitRate_sr < 1000) { %>
					Tasa de bits Servidor-Rx: <%= bitRate_sr %> bps
				<% } else if (bitRate_sr < 1000000) { %>
					<% bitRate_sr = Math.round(bitRate_sr / 10)/100; %>
					Tasa de bits Servidor-Rx: <%= bitRate_sr %> Kbps
				<% } else if (bitRate_sr < 1000000000) { %>
					<% bitRate_sr = Math.round(bitRate_sr / 10000)/100; %>
					Tasa de bits Servidor-Rx: <%= bitRate_sr %> Mbps
				<% } else if (bitRate_sr < 1000000000000) { %>
					<% bitRate_sr = Math.round(bitRate_sr / 10000000)/100; %>
					Tasa de bits Servidor-Rx: <%= bitRate_sr %> Gbps
				<% } else if (bitRate_sr >1000000000000){ %>
					<% bitRate_sr = Math.round(bitRate_sr / 10000000000)/100; %>
					Tasa de bits Servidor-Rx: <%= bitRate_sr %> Tbps
				<% } else { %>
					Tasa de bits Servidor-Rx: Undefined
				<% } %>
			</div>
			<div id="tabla">
				<table>
					<tr>
						<th>Transmisores</th>
						<th>Receptores</th>
					</tr>
						<% for (var i in clients) { %>
							<tr>
								<% if (tx[i] === undefined && rx[i] === undefined) { %>
									<% break; %>
								<% } else { %>
									<% if(tx[i] !== undefined) { %>
										<td><%= tx[i].name %></td>
									<% } else { %>
										<td></td>
									<% } %>
									<% if(rx[i] !== undefined) { %>
										<td><%= rx[i].name %></td>
									<% } else { %>
										<td></td>
									<% } %>
								<% } %>
							</tr>
						<% } %>
				</table>
			</div>
	    </section>
	</body>
</html>
